.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  height: 80px;
  background-image: url('src/assets/images/instamilligram-logo.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.section {
  border: 1px solid rgb(164, 164, 164);
  width: 350px;
  padding: 12px 36px;
  margin: 5px 0;
}
.formSection {
  margin-top: 12px;
  padding: 20px 0;
}
.gotoSection {
  height: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inputWrapper {
  margin-bottom: 16px;
}
.loginInputLabel {
  color: #5b5b5b;
  margin-bottom: 4px;
}
.registerDescription {
  font-size: 16px;
  font-weight: 600;
  color: #7b7b7b;
  text-align: center;
  padding-bottom: 8px;
}
.boldLink {
  font-weight: 600;
  cursor: pointer;
  color: #0095f6;
}

.boldLink:active {
  color: #72c7ff;
}
