.create-post-modal .ant-modal-content {
  padding: 10px;
}
.modal {
  height: 50vh;
  width: 400px;
  font-size: 40px;
  text-align: center;
}
.closeButton {
  position: fixed;
  top: 12px;
  right: 12px;
  outline: none;
  cursor: pointer;
  height: 32px;
  width: 32px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  overflow: hidden;
}
.modal-title {
  text-align: center;
  font-size: small;
  margin-bottom: 4px;
}
