.swiper-button-next,
.swiper-button-prev {
  background-image: url('./your-custom-arrow.svg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}