@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NotoSansKR";
  font-weight: normal;
  src: url("assets/fonts/NotoSansKR-VariableFont.ttf") format("truetype");
}

* {
  font-family: "NotoSansKR";
}

.outline1 {
  border: 2px double  black;
  min-width: 24px;
  min-height: 24px;
}
.outline2 {
  border: 1px solid red;
  min-height: 24px;
  min-width: 24px;
}
.outline3 {
  border: 1px dashed blue;
  min-height: 24px;
  min-width: 24px;
}
.outline4 {
  border: 1px dotted green;
  min-height: 24px;
  min-width: 24px;
}
.outline5 {
  border: 1px dotted rgb(156, 156, 156);
  min-height: 24px;
  min-width: 24px;
}

.scrollbar-hidden::-webkit-scrollbar {
   display: none;
 }

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.zerobase-button:hover {
  color:var(--hover-color) !important;
  background-color:var(--hover-background-color) !important
}
.zerobase-button:active {
  opacity: var(--active-opacity) !important;
}